<table class="table">
 <thead>
   <tr>
     <th width="55%" class="sortable" ng-click="espSortColumn = 'xpath'" ng-class="{active: espSortColumn == 'xpath'}">
       Xpath
     </th>
     <th width="15%" class="sortable" ng-click="espSortColumn = 'data'" ng-class="{active: espSortColumn == 'data'}">
       Data
     </th>
     <th width="15%" class="sortable" ng-click="espSortColumn = 'score'" ng-class="{active: espSortColumn == 'score'}">
       Score
     </th>
     <th width="15%" class="txt-right">
       Actions
     </th>
   </tr>
 </thead>
 <tbody>
    <tr ng-repeat="esp in esps | filter: espFilter.filter | orderBy: espSortColumn"
        id="scenario.name-{[$index + 1]}"
        ng-click="setSelectedEsp(scenario);">
        <td>{[ esp.xpath ]}</td>
        <td>{[ esp.data ]}</td>
        <td>{[ esp.score ]}</td>
        <td class="actions txt-right">
          <a class="no-border" title="edit ESP" ng-click="openModal('editESP', esp)">
            <i class="fa fa-edit fa-lg"></i>
          </a>
          <a class="no-border" title="delete ESP" ng-click="openModal('removeESP', esp)">
            <i class="fa fa-trash-o fa-lg"></i>
          </a>
        </td>
    </tr>
 </tbody>
</table>
<span class="txt-center" ng-hide="selectedScenario != ''"><h2>Select a scenario to see its ESPs</h2></span>
<span class="txt-center" ng-show="selectedScenario != '' && esps == ''"><h2>The selected scenario does not have any ESPs</h2></span>
